.root {
  -fx-background-color: white;
}

.field {
  -fx-pref-height: 35;
  -fx-pref-width: 512;
  -fx-background-color: white;
  -fx-border-color: #00000049;
  -fx-border-radius: 2;
}

.field:hover {
  -fx-border-color: #1689e0;
  -fx-border-width: 1;
}

.field:focused {
  -fx-border-color: #1689e0;
  -fx-border-width: 2;
}

.button {
  -fx-pref-height: 35;
  -fx-padding: 0 12;
  -fx-background-color: white;
  -fx-min-width: 120;
  -fx-background-radius: 16;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.18), 10, 0, 0, 0);
}

.button.danger {
  -fx-background-color: #d60835;
  -fx-text-fill: white;
}

.button.success {
  -fx-background-color: #6a2ad9;
  -fx-text-fill: white;
}

.error-message {
  -fx-border-color: #d60835;
  -fx-border-radius: 4;
  -fx-border-width: 1;
  -fx-padding: 24;
  -fx-text-fill: #d60835;
  -fx-pref-width: 512;
  -fx-background-color: #ff000012;
}
